/* html, body {
    height: 100%;
    width: 100%;
} */

html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 40px; /* Margin bottom by footer height */
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    background-color:rgb(204, 0, 51);
  }

  .nav-title {
      color: white;
  }
  /* change the color of the title bar */
  .bg-danger {
    background-color: rgb(204, 0, 51)!important;
  }
 .btn-group button {
    background-color: rgb(204, 0, 51); /* Green background */
    border: 1px solid white; /* white border */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    margin-top: 5px;
    width: 75px;
    text-decoration: none;
}
.btn-group button:focus {
    outline:0;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
.activeButton{
    background-color: white!important;
    color: #cc0033!important;
    transition: 0.2s ease-in-out;
}
#quitButton {
    background-color: rgb(204, 0, 51); /* Green background */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
}
#quitButton:focus {
    outline: 0;
}

#allButton {
    border-radius: 0px 8px 8px 0px;
}
#stopsButton {
    border-radius: 8px 0px 0px 8px;
}
#navbar {
    height: 45px;
}
#contentView {
    margin-top: 45px;
    background-color:#fffff4;
    overflow: hidden;
}
#brand {
    font-font-family: 'Merriweather', serif;

    text-transform: uppercase;
}
#viewableContent{
    padding: 0;
    text-align: left;
    margin:0;
}
.listItem { 
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid gainsboro;
}
.container {
    margin: 0;
    padding: 0;
    min-width: 100%;
}